html { line-height: 1.15; /* 1 */ -webkit-text-size-adjust: 100%; /* 2 */ } body { margin: 0; } main { display: block; } h1 { font-size: 2em; margin: 0.67em 0; } hr { box-sizing: content-box; /* 1 */ height: 0; /* 1 */ overflow: visible; /* 2 */ } pre { font-family: monospace, monospace; /* 1 */ font-size: 1em; /* 2 */ } a { background-color: transparent; } abbr[title] { border-bottom: none; /* 1 */ text-decoration: underline; /* 2 */ text-decoration: underline dotted; /* 2 */ } b, strong { font-weight: bolder; } code, kbd, samp { font-family: monospace, monospace; /* 1 */ font-size: 1em; /* 2 */ } small { font-size: 80%; } sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; } sub { bottom: -0.25em; } sup { top: -0.5em; } img { border-style: none; } button, input, optgroup, select, textarea { font-family: inherit; /* 1 */ font-size: 100%; /* 1 */ line-height: 1.15; /* 1 */ margin: 0; /* 2 */ } button, input { /* 1 */ overflow: visible; } button, select { /* 1 */ text-transform: none; } button, [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; } button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0; } button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { outline: 1px dotted ButtonText; } fieldset { padding: 0.35em 0.75em 0.625em; } legend { box-sizing: border-box; /* 1 */ color: inherit; /* 2 */ display: table; /* 1 */ max-width: 100%; /* 1 */ padding: 0; /* 3 */ white-space: normal; /* 1 */ } progress { vertical-align: baseline; } textarea { overflow: auto; } [type="checkbox"], [type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ } [type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; } [type="search"] { -webkit-appearance: textfield; /* 1 */ outline-offset: -2px; /* 2 */ } [type="search"]::-webkit-search-decoration { -webkit-appearance: none; } ::-webkit-file-upload-button { -webkit-appearance: button; /* 1 */ font: inherit; /* 2 */ } details { display: block; } summary { display: list-item; } template { display: none; } [hidden] { display: none; } html { color: #222; font-size: 1em; line-height: 1.4; } ::-moz-selection { background: #b3d4fc; text-shadow: none; } ::selection { background: #b3d4fc; text-shadow: none; } hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; } audio, canvas, iframe, img, svg, video { vertical-align: middle; } fieldset { border: 0; margin: 0; padding: 0; } textarea { resize: vertical; } .hidden, [hidden] { display: none !important; } .sr-only { border: 0; clip: rect(0, 0, 0, 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; white-space: nowrap; width: 1px; } .sr-only.focusable:active, .sr-only.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; white-space: inherit; width: auto; } .invisible { visibility: hidden; } .clearfix::before, .clearfix::after { content: " "; display: table; } .clearfix::after { clear: both; } @media only screen and (min-width: 35em) { /* Style adjustments for viewports that meet the condition */ } @media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) { } @media print { *, *::before, *::after { background: #fff !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; } a, a:visited { text-decoration: underline; } a[href]::after { content: " (" attr(href) ")"; } abbr[title]::after { content: " (" attr(title) ")"; } a[href^="#"]::after, a[href^="javascript:"]::after { content: ""; } pre { white-space: pre-wrap !important; } pre, blockquote { border: 1px solid #999; page-break-inside: avoid; } thead { display: table-header-group; } tr, img { page-break-inside: avoid; } p, h2, h3 { orphans: 3; widows: 3; } h2, h3 { page-break-after: avoid; } }

/*to center  a image and  goo thngs*/
/*body {
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


icon of page
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" /> 
<link rel="manifest" href="/site.webmanifest" />
https://css-tricks.com/how-to-favicon-in-2021/
*/

/* pre style on some elements */


*{
    box-sizing: border-box;
    /* overflow: hidden;  */
    margin: 0;
    /* border: 1px dashed hsl(12, 76%, 47%); */
    /*border-image: linear-gradient(to left, red, blue) 1;*/
}
*, *::before, *::after {
    box-sizing: border-box;
   
}

img, picture, video, canvas, svg {
	/*display: inline-block;    maybe this is better ?*/
    display: block;
    max-width: 100%;
   
}
input {
	/*width: 100%;*/
    text-align: inherit;
    /*margin-bottom: .75em;*/
    /*padding: .25em;*/
    border: 1px solid #404040;
    border-radius: 5px;
    transition: transform 250ms;
    transform: scale(1);
}
input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus{
	transform: scale(1.05);
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}
p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
}
/*paragrapgh  shouldnt be to wide for eye it should be readen withiout eye rotate;*/



a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-weight: 700;
    transition: transform 200ms;
}
a:hover,a:focus{
  color: blue;
  transform: scale(1.1);
}
a:active{
  color: green;
}

 /*scroll bar*/
::-webkit-scrollbar {
  width: 1em;
  height: 1em;
}

::-webkit-scrollbar-track {
  background:#95a5a6;
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: #34495e;
  border: 0.05em solid #95a5a6;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #2c3e50;
}
button{
    padding: .5em 1.5em;
    border-radius: 2px;
    margin: .2em;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    background-color: var(--clr-accent);
    color: var(--clr-dark);
    /*kevin plus*/
    font-size: 0.625rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    transition: transform 250ms;
    transform: scale(1);
    border:0;
}

button:hover,
button:focus{
    transform: scale(1.05);
}
/*utility classes  */
.last-element{
  margin-bottom: 0;
}
.btn { 
    padding: .5em 1.5em;
    border-radius: 2px;
    margin: .2em;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    background-color: var(--clr-accent);
    color: var(--clr-dark);
    /*kevin plus*/
    font-size: 0.625rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    transition: transform 250ms;
    transform: scale(1);
}
.btn:hover,
.btn:focus{
	transform: scale(1.05);
}
:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}
:root {
    --ff-header: 'Montserrat', sans-serif;
    --ff-paragraph:  'Roboto', sans-serif;

    /* --ff-startUP:;
    --ff-bank :helvetica; */
    --fw-reg: 400;
    --fw-med: 700;
    --fw-bold: 900;

    --clr-white:hsla(0, 0%, 100%, 0.8);
    --clr-black:hsla(0, 0%, 0%, 0.8);
    --clr-light: hsl(0,0%,100%);
    --clr-dark: hsl(0,0%,19%);
    --clr-accent: hsl(170,82%,48%);
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: .9rem;

    
    --bs: 0.25em 0.25em 0.75em hsla(0, 0%, 0%, 0.25),
          0.125em 0.125em 0.25em hsla(0, 0%, 0%, 0.15);
}
html, body {

    scroll-behavior: smooth;
  

}
body {
    -webkit-text-size-adjust: 100%;
    min-height: 100vh;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    font-family: var(--ff-paragraph);
    font-size: var(--fs-body);
    background-color: black;
    
}
.App{
    width: 100%;
    margin:0 auto;
       
    

/* darkmode */
    /* background-color: var(--clr-dark); 
    color: var(--clr-white); */
/* lightmode */
    background-color: black; 
    color: var(--clr-black);
    padding:  1em;
}
.container-1-theme{
    background-color: var(--clr-light);
    text-align: center;   
}
/* typography */
p{
    max-width: 700px;
    letter-spacing: 1px;
    padding: 1em;
    letter-spacing: 1.4;
}
h1 { font-size: var(--fs-h1); font-family: var(--ff-header);}
h2 { font-size: var(--fs-h2); font-family: var(--ff-header);}
h3 { font-size: var(--fs-h3); font-family: var(--ff-header);}
/*testing*/
h1,
h2,
h3 {
    line-height: 1.1;
    /*margin: 0;*/
    letter-spacing: -0.05em;
}


.App-bear-container{
  display: grid;
    grid-template-columns: 50% 50%;
    width:100% ;
}
img{
  height: 80vh;
  
}
.bears{
  /* width: 40vw; */
  display: flex;
  /* height: 80vh; */
  gap: 1em;
  padding: 1em;
   
  border-radius: 15px;
  margin: 1em;
  box-shadow: 0px 0px 8px 1px grey;
  background-color: white; 
  
}
.bears img {
  max-width: 50%;
}
.bears-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Navbar{
  height: 10vh;
  display: flex;
  gap: 1.5em;
  font-size: 1.8rem;
  align-items: center;
  padding: 0 2em;
  color: white;
  background-color: black;
}
.Navbar button{
  margin-left:  auto;
  font-size: 1rem;
}
.Hero{
  background-image: url('./image/sword.jpg');
  height: 100vh;
  /* width: 100vw; */
  background-repeat: no-repeat;
  background-size: cover;
}
.Hero h1{
  color: white;
  font-size: 4.5rem;
  text-align: center;
}
.About{
  color: white;
  padding: 1em;
  margin: 4em 2em;
}
.search-bear{
  color: white;
  padding: 1em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 50%;
}
footer{
  color: white;
  text-align: center;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}





































































@media (max-width:900px){
  .App-bear-container{
    display: grid;
      grid-template-columns: 80%;
      width:100% ;
      justify-content: center;
  }
  .Navbar{
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    font-size: 1.8rem;
    align-items: center;
    padding: 0 2em;
    color: white;
    background-color: black;
  }
  .Navbar button{
    margin:  auto;
    font-size: 1rem;
    margin-bottom: 3em;
  }
} 



@media (min-width:37.5em){
    html, body {
    font-size: 1rem;
    }  
    :root {
        --fs-h1: 3rem;
        --fs-h2: 2rem;
        --fs-h3: 1.5rem;
        --fs-body: .9rem;
    } 
} 
